.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: #000;
    background: center url(../../../images/Edit\ Button.svg) no-repeat;
    border: 1px solid #fff;
}
@media (max-width: 425px) {
    .profile__edit-button {
            width: 18px;
            height: 18px;
        }
}