.popup__container {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    box-sizing: border-box;
    padding: 34px 36px 34px;
    max-width: 430px;
    width: 100%;
    background-color: #fff;  
}


@media (max-width: 768px) {
    .popup__container {
        max-width: 282px;
        padding: 21px 22px;
        margin: 17px 0 0;
    }
}


