.header {
    margin: 45px auto 40px;
    max-width: 880px;
    border-bottom: 1px solid #545454;
}
@media (max-width: 965px) {
    .header {
        max-width: 100%;
        margin: 45px 27px 31px;
    }
}
@media screen and (max-width: 425px) {
    .header {
        margin: 28px 19px 42px;
    }
}