.element__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 30px 21px;
}

@media screen and (max-width: 425px) {
    .element__description {
        padding: 15px 19px 32px 21px;
    }
}

